#lcd {
    height: 30px;
    width: 150px;
    font-size: 1.5em;
    background-color: gainsboro;
}
#a {   
    height: 30px;
    width: 30px;
    background-color: blue;
    
}
#b {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#c {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#d {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#e {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#f {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#g {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#h {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#i {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#j {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#k {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#l {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#munt {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#n {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#o {   
    height: 30px;
    width: 30px;
    background-color: blue;
}
#poo {   
    height: 30px;
    width: 30px;
    background-color: gray;
}